---
import Layout from "../layouts/layout.astro";
import Nav from "../components/Nav.svelte";
import Home from "../components/Home.svelte";
import About from "../components/About.svelte";
import Projects from "../components/Projects.svelte";
import Contact from "../components/Contact.svelte";
---
    
<Layout>
    <Nav />
    <main>
        <Home />
        <About />
        <Projects />
        <Contact />
    </main>
</Layout>

<style lang="scss">
</style>


<style is:global lang="scss">
    @import "../styles/reset";
    @import "../styles/global";
    @import "../styles/typography";
</style>

