---
import Layout from "../layouts/layout.astro";
import Nav from "../components/Nav.svelte";
import Home from "../components/Home.svelte"
---
    
<Layout>
    <Nav />
    <main>
        <Home />
    </main>
</Layout>

<style lang="scss">
</style>


<style is:global lang="scss">
    @import "../styles/reset";
    @import "../styles/typography"
</style>

