---
---
    <main>
        <h1>Welcome to <span class="text-gradient">Oki Motto</span></h1>
        <p class="instructions">
            Check out the <code>src/pages</code> directory to get started.<br />
            <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
            above.
        </p>
    </main>



<style lang="scss">
</style>


<style is:global lang="scss">
    @import "../styles/reset";
</style>

